/.idea
/wp-admin
/wp-includes
/wp-content/backup-db
/wp-content/cache
/wp-content/upgrade
/wp-content/uploads
/wp-content/advanced-cache.php
/wp-content/index.php
/wp-content/nginx.conf
/wp-content/wp-cache-config.php
/.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-content
/wp-cron.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
